@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:wght@100;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    
   
}

img {
    transition: .3s ease all;
}

img:hover {
    transform: scale(1.02); /* Memperbaiki typo dan menggunakan transform untuk scaling */
}

.loading {
    width: 50px;
    height: 50px;
    --c: radial-gradient(farthest-side, #ffc639 92%, #0000);
    background: 
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s7 1s infinite;
}

@keyframes s7 {
    to {
        transform: rotate(.5turn);
    }
}



/* styles/scrollbar.css */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffc639; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ddae38; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #f5b001; 
  }
  